<%- include('header'); -%>

  <h1>Members Only Club</h1>
  <p>Welcome to the clubhouse</p>

  <% if(currentUser) { %>
    <h2>Welcome back <%= currentUser.firstName %></h2>
    <button> <a href="/log-out"> Log Out</a></button>
  <% } else { %>
    <h2>login</h2>
    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
      <input type="submit">
    </form>
  <% } %>

  <%- include('footer'); -%>