<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Members Only Club</h1>
    <p>Welcome to the clubhouse</p>

    <h2>login</h2>
    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
      <input type="submit">
    </form>
  </body>
</html>
