<%- include('header'); -%>

<h1>Join the club</h1>
<form action="" method="post">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <input type="Submit">
</form>

<% if(locals.errors) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }); %>
  </ul>
<% } %>

<%- include('footer'); -%>